@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

/* Josh Comeau's CSS reset*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* Josh Cameau's CSS reset */

body {
    background-color: rgb(238, 238, 238);
    color: black;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid-container {
    display: grid;
}

.page-layout {
    height: 100vh;
    grid-template: auto 1fr / auto 1fr;
    grid-template-areas: "header header"
                         "sidebar main";
}

.header {
    grid-area: header;
    background-color: white;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    font-family: 'Limelight', sans-serif;
    font-size: 42px;
    font-weight: 900;
}

.nav {
    font-size: 16px;
    gap: 45px;
    margin-right: 50px; 
}

.header img:hover {
  cursor: pointer;
}

.sidebar {
    grid-area: sidebar;
    padding-top: 80px;
    gap: 30px;
}

input {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin-left: 5px;
}

input:focus {
  outline: rgb(173, 172, 172) solid 1px;
}


.filter {
    gap: 7px;
    padding-left: 30px;
    color: grey;
}

.filter div:hover {
    cursor: pointer;
    color: black;
}


.main {
    grid-area: main;
}

.add {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: black;
  color: white;
  font-size: 40px;
  border: none;
  border-radius: 50%;
  width: 60px;
}

.add:hover {
  cursor: pointer;
}